form{
    select, textarea{
        margin: 4px;
        border: solid 1px #008080;
        padding: 8px;
        width: 100%;
        cursor: pointer;
    }
    textarea{
        height: 100px;
    }

    input[type="submit"]{
        cursor: pointer;
        width: 100%;
        transition: all .1s ease-in-out;

        &:hover{
            background-color: #008080;
            color: white;
        }
    }
}

div#protocolo{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    button{
        width: 100%;
        max-width: 256px;
    }
}