$max-width: 450px;

ul#solics{
    width: 100%;
    list-style: none;
    z-index: -1;
    align-self: center;
    justify-self: center;
    
    @media screen and (max-width: 500px) {
        left: 0;
    }

    li{
        margin: 8px 0;

        div.solic_card{
            width: 100%;
            max-width: $max-width;
            padding: 4px;
            border:solid 1px #008080;
        }
    }

}
